<div class="item-body">
    <div class="item-body-thumbnail">
      <img src="https://i.ytimg.com/vi/bP7tTZC85bM/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD8K1AcrqaCEzI4rTLQBVVMwqsNLQ" alt="fromYoutube"/>
    </div>
    <div class="item-body-info">
      <div class="item-body-info-item">
        <img class="item-body-info__icon" src="https://i.ytimg.com/vi/_yLTYLrYerc/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCGvOTqD-9KU6ih0R55UCzVtSRD6Q" alt="logo-item"/>
        <span class="item-body-info__value">{{item?.statistics?.viewCount}}</span>
      </div>
      <div class="item-body-info-item">
        <img class="item-body-info__icon" src="https://i.ytimg.com/vi/eVD03dPW5ss/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLA0NsCJ81sIxzVkK65FqZC8LMqflQ" alt="fromYoutube"/>
        <span class="item-body-info__value">{{item?.statistics?.likeCount}}</span>
      </div>
      <div class="item-body-info-item">
        <img class="item-body-info__icon" src="https://i.ytimg.com/vi/uO9oRcXIeMs/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLA3o_95X1y4qDUYwXlxE8S-K17i2A" alt="fromYoutube"/>
        <span class="item-body-info__value">{{item?.statistics?.dislikeCount}}</span>
      </div>
      <div class="item-body-info-item">
        <img class="item-body-info__icon" src="https://i.ytimg.com/vi/H7YLvCZrJlE/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLC7K1X-GEi-3eWZa1j9kLlYyeky1w" alt="fromYoutube"/>
        <span class="item-body-info__value">{{item?.statistics?.commentCount}}</span>
      </div>
    </div>
      <div class="item-body-title">
        {{item?.snippet?.title}}
      </div>
      <div class="item-body-more">
        show-more...
      </div>
    </div>
    <div class="item-footer"></div>
  
  
  
