<div
  class="card"
  *ngIf="item"
  appBorderItem
  [itemDate]="item.snippet.publishedAt">
  <img
    class="card__image"
    src="{{ item.snippet.thumbnails.medium.url }}"
    alt="cardImage" />
  <div class="card__statistics">
    <div class="card__statistics-iform">
      <img
        class="card__statistics-icon"
        src="./assets/svg/viewed.svg"
        alt="viewed" />
      <p class="card__statistics-count">{{ item.statistics.viewCount }}</p>
    </div>
    <div class="card__statistics-iform">
      <img
        class="card__statistics-icon"
        src="./assets/svg/liked.svg"
        alt="liked" />
      <p class="card__statistics-count">{{ item.statistics.likeCount }}</p>
    </div>
    <div class="card__statistics-iform">
      <img
        class="card__statistics-icon"
        src="./assets/svg/dislike.svg"
        alt="dislike" />
      <p class="card__statistics-count">{{ item.statistics.dislikeCount }}</p>
    </div>
    <div class="card__statistics-iform">
      <img
        class="card__statistics-icon"
        src="./assets/svg/comments.svg"
        alt="comments" />
      <p class="card__statistics-count">{{ item.statistics.commentCount }}</p>
    </div>
  </div>
  <h3 class="card__titile">{{ item.snippet.title }}</h3>
  <button class="card__button" mat-raised-button>more...</button>
</div>
