<p>filters works!</p>
<div class="filter">
    <div class="fiter__content">
      <p class="filter__name">Sorting by:</p>
      <div class="filter__buttons-block">
        <button
          class="filter__button data"
          mat-flat-button
          (click)="changeSortValue('date')"
          [class.active]="activeClass === 'date'">
          date
        </button>
        <button
          class="filter__button views"
          mat-flat-button
          (click)="changeSortValue('views')"
          [class.active]="activeClass === 'views'">
          count of views
        </button>
        <div class="filter__button word" mat-flat-button>by word or sentance</div>
      </div>
      <input
        #keywordInput
        class="filter__input"
        type="text"
        (input)="getKeyWordSearch(keywordInput.value)" />
      <div class="filter__sort">{{ flagSortValue }}</div>
    </div>
  </div>