.filter {
    display: flex;
    justify-content: center;
    max-width: 1420px;
    margin: 0 auto;
    padding: 10px;
    height: 40px;
    background: #E5E5E5;
    .fiter__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter__name {
        margin: 0;
        color: #929292;
      }
      .filter__buttons-block {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        .filter__button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          color: #2F80ED;
          padding: 0;
          height: 20px;
          text-align: center;
        }
        .data {
          min-width: 30px;
          margin-right: 21px;
          text-decoration-line: underline;
        }
        .data.active {
          color: #B40095;
        }
        .views {
          margin-right: 21px;
          text-decoration-line: underline;
        }
        .views.active {
          color: #B40095;
        }
      }
      .filter__input {
        border: none;
        width: 149px;
        height: 13px;
        background:#FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #333333;
        outline:none;
        font-size: 13px;
        font-weight: 400;
        padding: 2px;
        margin-right: 10px;
      }
      .filter__sort {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2F80ED;
        font-size: 20px;
        width: 5px;
      }
    }
  }